*{
    margin: 0px; 
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
}

.datos_personales{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding:5px 5px;
}

.info_perfil{
    margin-left: 30px;
    padding:5px 5px;
}

.titulo_dato{
    font-weight: bold;
    margin: 10px;
    padding: 10px;

}